html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px; /* Remove default margin */
    background-image: url("images/background.jpg");
    background-repeat: repeat ; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

ul.topnav li a article {
    width: 0%;
}


ul.topnav {
    list-style-type: none;
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Align items to the end of the flex container */
    font-size: 15px;
}

ul.topnav li {
    float: none; /* Reset float */
    width: auto;
}

ul.topnav li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    text-decoration: underline;
}
  
ul.topnav li a.active {
    color: whitesmoke ;
    text-decoration: underline;
}

ul.topnav li.left a:hover:not(.active) {
    text-decoration: none;
}
  
ul.topnav li.left {
    margin-right: auto;
}
  
@media screen and (max-width: 600px) {
    ul.topnav li.left, 
    ul.topnav li {float: none;}
}

footer{
    margin-top: 50px;
    background-color: #112d3831; /* For visibility, you can remove this */
    padding-bottom: 3px;
    font-size: 10px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}